<div id="doc-template" style="font-family: 'Times New Roman'; padding:40px; width:900px; margin:auto;">

  <h2 style="text-align:center;">EVENT COMPLETION REPORT</h2>

  <table border="1" cellspacing="0" cellpadding="8" width="100%" style="border-collapse: collapse;">

    <tr>
      <td><b>Event Title</b></td>
      <td>{{eventTitle}}</td>
    </tr>

    <tr>
      <td><b>Date</b></td>
      <td>{{eventDate}}</td>
    </tr>

    <tr>
      <td><b>Location</b></td>
      <td>{{location}}</td>
    </tr>

    <tr>
      <td><b>Sponsor</b></td>
      <td>{{sponsor}}</td>
    </tr>

    <tr>
      <td><b>Department</b></td>
      <td>{{department}}</td>
    </tr>

    <tr>
      <td><b>School</b></td>
      <td>{{school}}</td>
    </tr>

    <tr>
      <td><b>Event Type</b></td>
      <td>{{eventType}}</td>
    </tr>

    <tr>
      <td><b>Participants</b></td>
      <td>{{participantsCount}}</td>
    </tr>

    <tr>
      <td><b>Summary</b></td>
      <td style="white-space: pre-line;">{{summary}}</td>
    </tr>

    <tr>
      <td><b>Highlights</b></td>
      <td style="white-space: pre-line;">{{highlights}}</td>
    </tr>

    <tr>
      <td><b>Convener Name</b></td>
      <td>{{convenerName}}</td>
    </tr>

    <tr>
      <td><b>Convener Phone</b></td>
      <td>{{convenerPhone}}</td>
    </tr>

    <tr>
      <td><b>Convener Email</b></td>
      <td>{{convenerEmail}}</td>
    </tr>

    <tr>
      <td><b>Speakers</b></td>
      <td>
        {{speaker1}} <br/>
        {{speaker2}} <br/>
        {{speaker3}} <br/>
        {{speaker4}} <br/>
        {{speaker5}} <br/>
        {{speaker6}}
      </td>
    </tr>

    <tr>
      <td><b>Images</b></td>
      <td>{{images}}</td>
    </tr>

    <tr>
      <td><b>Videos</b></td>
      <td>{{videos}}</td>
    </tr>

  </table>

</div>