<div id="doc-template" style="font-family: 'Times New Roman'; padding:40px; width:900px; margin:auto;">

  <h2 style="text-align:center;">WHAT'S HAPPENING REPORT</h2>

  <table border="1" cellspacing="0" cellpadding="8" width="100%" style="border-collapse: collapse;">

    <tr><td><b>Title of the Event*</b></td><td>{{eventTitle}}</td></tr>
    <tr><td><b>Ezone Id *</b></td><td>{{ezoneId}}</td></tr>

    <tr><td rowspan="4"><b>Date and Time*</b></td><td>Start Date: {{startDate}}</td></tr>
    <tr><td>Start Time: {{startTime}}</td></tr>
    <tr><td>End Date: {{endDate}}</td></tr>
    <tr><td>End Time: {{endTime}}</td></tr>

    <tr><td rowspan="2"><b>Event Location Details*</b></td><td>Venue: {{venue}}</td></tr>
    <tr><td>Address: {{address}}</td></tr>

    <tr><td rowspan="3"><b>Organizer Details*</b></td><td>Contact: {{contactName}}</td></tr>
    <tr><td>Phone: {{phone}}</td></tr>
    <tr><td>Email: {{email}}</td></tr>

    <tr><td><b>School*</b></td><td>{{school}}</td></tr>
    <tr><td><b>Department*</b></td><td>{{department}}</td></tr>

    <tr><td><b>Type of Event</b></td><td>{{eventType}}</td></tr>

    <tr><td><b>Description*</b></td><td>{{description}}</td></tr>
    <tr><td><b>Objective*</b></td><td>{{objective}}</td></tr>

    <tr><td><b>Convener*</b></td><td>{{convener}}</td></tr>
    <tr><td><b>Coordinator*</b></td><td>{{coordinator}}</td></tr>

    <tr><td><b>Collaboration</b></td><td>{{collaboration}}</td></tr>
    <tr><td><b>Chief Guest</b></td><td>{{chiefGuest}}</td></tr>
    <tr><td><b>Speakers</b></td><td>{{speakers}}</td></tr>

    <tr><td><b>Budget*</b></td><td>{{budget}}</td></tr>
    <tr><td><b>Participants*</b></td><td>{{participants}}</td></tr>

    <tr><td><b>Target Audience</b></td><td>{{targetAudience}}</td></tr>
    <tr><td><b>Media Coverage</b></td><td>{{mediaCoverage}}</td></tr>

  </table>

</div>